@import "tailwindcss";

@theme {
  --color-dark-blue: #1E3A8A;
}

/* Add custom background styles for Log In and Sign Up */
.bg-login {
    background-image: url('./assets/1.jpg');
}

.bg-signup {
    background-image: url('./assets/2.jpg');
}

@media (max-width: 768px) {
    .bg-login {
        background-image: url('./assets/1.jpg');
    }

    .bg-signup {
        background-image: url('./assets/2.jpg');
    }
}