@import "tailwindcss";

@theme {
  --color-dark-blue: #001C64;
  --color-gray: #D9D9D9;
}

/* Add custom background styles for Log In and Sign Up */
.bg-login {
    background-image: url('./assets/1.jpg');
}

.bg-signup {
    background-image: url('./assets/2.jpg');
}

.bg-dark-blue {
  background-color: #1E3A8A; /* A visible dark blue color */
}

.text-dark-blue {
  color: #1E3A8A;
}

@media (max-width: 768px) {
    .bg-login {
        background-image: url('./assets/1.jpg');
    }

    .bg-signup {
        background-image: url('./assets/2.jpg');
    }
}